
table, th, td {
    border:4px solid salmon;
  }
  .name{
      background:local;
      color: mediumorchid;
      display: inline;

  }
  .name1{
    background: fixed;
    color: tomato;
    display: inline-block;
  }
  .name2{
    background: local;
    color: royalblue;
    display: inline-block;
} 
 .name3{
     background: fixed;
     color: brown;
     display: inline-table;


} 
 .name4{
     background: local;
     color: red;
     display: flexbox;


} 
 .name5{
     background: top;
     color: slateblue;
     display: flow-root;

} 
 .name6{
     background: unset;
     color: violet;
     display: inline-flexbox;

}
  .name7{
      background: scroll;
      color: salmon;
      display: grid;

}
  .name8{
      background: local;
      color: purple;
      display: block;

}

  .name9{
      background: fixed;
      color: orange;
      display: contents;

}

  .name5555{
            width: 200px;
            height: 200px;
            background-size: cover;
            animation: shape 5s linear infinite;
        }
        @keyframes shape {
            0%, 100% {border-radius: 
                40% 60% 70% 30% / 40% 40% 60% 50%;}
            33% {border-radius: 
                70% 30% 50% 50% / 30% 30% 70% 70%;}
            66% {border-radius: 
                100% 60% 60% 100% / 100% 100% 60% 60%;}
  }
  .name4444{
    width: 200px;
    height: 200px;
    background-size: cover;
    animation: shape 5s linear infinite;
}
@keyframes shape {
    0%, 100% {border-radius: 
        40% 60% 70% 30% / 40% 40% 60% 50%;}
    33% {border-radius: 
        70% 30% 50% 50% / 30% 30% 70% 70%;}
    66% {border-radius: 
        100% 60% 60% 100% / 100% 100% 60% 60%;}
  }
  .name3333{
  width: 200px;
  height: 200px;
  background-size: cover;
  animation: shape 5s linear infinite;
}
@keyframes shape {
  0%, 100% {border-radius: 
      40% 60% 70% 30% / 40% 40% 60% 50%;}
  33% {border-radius: 
      70% 30% 50% 50% / 30% 30% 70% 70%;}
  66% {border-radius: 
      100% 60% 60% 100% / 100% 100% 60% 60%;}
  }