{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
</head>
<body dir="rtl" bgcolor="#7ed55f" >
    <h1>
        <font face="tahona" size="2" color="#ff4757"  >
             تصاویر از دانشگاه 
        </font>   
    </h1>
    <hr size="10" color="belk" >
     <ul>
         <li>
             <a href="https://nilgamsafar.com/difference-between-college-and-university/" style="color: magenta ;" >منبع توضیحات </a>
         </li>
         <br>
         <li>
          <a href="#text"  name="tap" >تصاویر دانشگاه و کالج</a>
         </li>
         <br>
         <li>
            <a href="#text1"  name="tap1" >در یک نگاه</a>
           </li>
         <br>
         <li>
            <a href="#text2"  name="tap2" >کالج ها حرفه کسب وکار</a>
           </li>
         <br>
         <li>
            <a href="#text3"  name="tap3" >کالج های دولتی</a>
           </li>
         <br>
         <li>
            <a href="#text4"  name="tap4" >دانشگاه چیست؟</a>
           </li>
         <br>
         <li>
            <a href="#text5"  name="tap5" >دانشگاه دولتی خصوصی چیست؟</a>
           </li>
         <br>
         <li>
            <a href="#text6"  name="tap6" >دانشگاه و اموزش و تحقیق</a>
           </li>
           <br>
         <li>
            <a href="#text7"  name="tap7" >دسته بندی ها</a>
           </li>
         <br>
         <li>
             تصاویر کالج و توضیح  دانشگاه
         </li>
     </ul>
    <br><br>
    <table  align="center" width="900"  border="1"  >
        <tr align="center" >
            <td colspan="3" > 
                   <a href="#tap" name="text"  >تصاویر نماد</a>
            </td>
        </tr>
          <tr align="center" >
               <td>
                   <a href="{% static "/img/10.jpeg" %}">
                   <img src="{% static "/img/10.jpeg" %}" width="290" >
                   </a>
               </td>
               <td>
                   <a href="{% static "/img/20.jpeg" %}">
                   <img src="{% static "/img/20.jpeg" %}" width="290" >
                   </a>
               </td>
               <td>
                   <a href="{% static "/img/30.jpeg" %}">
                   <img src="{% static "/img/30.jpeg" %}" width="290" >
                </a>
               </td>
          </tr>
          <tr align="center" >
              <td>عنوان 1</td>
              <td>عنوان 2</td>
              <td>عنوان 3</td>
          </tr>

          <tr align="center" >
            <td>
                <a href="{% static "/img/40.jpeg" %}" >
                <img src="{% static "/img/40.jpeg" %}" width="290" >
                </a>
            </td>
            <td>
                <a href="{% static "/img/50.jpeg" %}" >
                <img src="{% static "/img/50.jpeg" %}" width="290" >
                </a>
            </td>
            <td>
                <a href="{% static "/img/60.jpeg" %}" >
                <img src="{% static "/img/60.jpeg" %}" width="290" >
                </a>
            </td>
       </tr>
       <tr align="center" >
           <td>عنوان 4</td>
           <td>عنوان 5</td>
           <td>عنوان 6</td>
       </tr>
    </table>
<br><br>
<h3>
    <td colspan="3" > 
        <a href="#tap1" name="text1"  ></a>
 </td>
    <p>    در یک نگاه    </p>
به عنوان یک دانشجوی متقاضی ادامه تحصیل در خارجویا خانوادهای که قصد دارند تا با اخذ مجوزی نظیر ویزای تحصیلی کانادا فرزند خود را
برای ادامه تحصیلات به خارج بفرستند، به احتمال زیاد با موضوع تفاوت تعریف کالجودانشگاه در کشورهای خارجیواین که کدامیک برای
انتخاب مناسب است، مواجه شدهاید.
تصور بیشتر مردم این است که به موس سات آموزشی خصوصی در کشورهای خارجی، کالجوبه موس سات آموزشی دولتی، دانشگاه میگویند. برخ
دیگر این طور فکر میکن ند که دانشگاه کیفیتوسطح آموزشی بالاتری به نسبت کالج ارائه میدهد.
اما در واقعیت تفاوت بین کالجودانشگاه پیچیدهتر بودهوچیزی فراتر از تصورات ذکر شده است. با ما همراه باشید تا در این مطلب به طور کامل
تفاوتهای کالجودانشگاه را به شما توضيح دادهوبه بر رسی جزئیات مختلف آنها بپردازیم تا بتوانید بهترین انتخاب را برای ادامه تحصیل در
خارج از کشور داشته باشید.
</h3>
<br><hr><br>
<h3>
    <td colspan="3" > 
        <a href="#tap2" name="text2"  ></a>
 </td>
    <p> کالجهای حرفه وکسب وکار Care er  </p>
    به این دسته از کالجها مدارس فنی وحرفهای technical(، )scho ols مدارس تجارت trade( )scho olsویا مدرسه حرفهوپیشه )Vocational
    scho ols( نیز گفته میشود، کالجهای فنی وحرفهای care er آموزشهای مناسب مشاغل مختلف را ارائه میدهد، دوره های ی که برای آماده سازی
    شما برای ورود مستقیم به بازار کار طراحی شده است. اگر مشتاق به دریافت ویزا برای تحصیل در کانادا هستید، باید بدانید که به طور معمول این
    نوع از کالجها انواع گواهی، دیپلمومدارک کاردانی را که برای تکمیل آنها به یک بازه ۲سالهویا کمتر نیاز است، صادر میکن ند.
    گرچه، برخی از کالجهای کریرcare er امکان ارائه مدارک کارشناسیوارشد که تکمیل آنها۳تا۴سال زمان میبرد را نیز دارند.
    از این رو برخی از این کالجها با این که م من است الزاما تمام مشخصات یک دانشگاه سنتی را نداشته باشند، خود را به عنوان یک دانشگاه معرفی
    میکن ند. رشته های ارائه شده در این کالجها محدوده وسیعی از مشاغل مختلف نظیر تجارت، مراقبتهای بهداشتی، طراحی، فناوری اطلاعات،
    هنرهای آشپزی، بهداشت دندان، تعمیر وسایل تهویه، نگهداری هواپیماوزیبای یشناسی را پوش ش میدهد. در همین رابطه، شما می توانید در صورت
    تمایل از شرایط کار دانشجوی ی در کانادا مطلع شوید.</h3>
    <br><hr><br>
    <h3>
        <td colspan="3" > 
            <a href="#tap3" name="text3"  ></a>
     </td>
        <p> کالجهای دولتی community </p>
کالجهای دولتی که در برخی مواقع کالجهای جونیورjunior نیز نامیده میشوند به طور معمول مدارک کاردانیویا ھمان as sociate degrees را
   ارائه میکن ندوبرخی از آنها رشته های آموزشی دارای گواهی را نیز پوش ش میدهند. رشته های آموزشی این کالجها به طور معمول ۲سال زمان
 میبرد. کالجهای کامیونیتی از دانشگاه ها کوچکتر بودهودر عین حال تعاملوارتباط بیشتری با دپارتمان تحصیلی را برای دانشجو به همراه دارند.
   اغلب این کالجها دارای سیستم پذیرش باز هستند، این بدین معنی است که هرکسی با داشتن مدرک دیپلم دبیرستانویا گواهی GED میتواند در
اینگونه مراکز آموزشی ثبت نام کند.
 بسیاری از دانشجوها دوره ۲ساله آموزشی خود را در یک کالج کامیونیتی میگذران ندوسپس برای تکمیل مقطع۴ساله کارشناسی به یک کالجویا
دانشگاه سنتی انتقال می یابند. موضوع هزینه در این میان نقش مهمی را بازی میکند. به طور معمول کالجهای Community بسیار ارزان تر از
موس سات آموزشی برگزار کن نده دوره های آموزشی ۴ساله هستند. بر طبق آمار سال تحصیلی ۲۰۱۸-۱۹ میانگین هزینهوشهریه یک کالج دولتی
برگزارکن نده دوره های ۲ساله ۶۰ ۳/۶ دلار است که در قیاس با هزینه ۱۰/۲۳۰ دلاری کالجهای دولتی برگزارکن نده دوره های آموزشی ۴ساله تفاوت فاحشی
   دارد.
     از این رو اگر قصد تحصیل در کالج را دارید بهتر است حتما بر موضوع هزینه تحصیل در کاناداوشرایط ادامه تحصیل در کانادا اشراف داشته باشید،
   چون هزینه کالجودانشگاه های هر یک از استان های این کشور می تواند کاما متغیر باشد.
    </h3>
    <br><hr><br>
    <h3>
        <td colspan="3" > 
            <a href="#ta4" name="tex4"  ></a>
     </td>
        <p>
            دانشگاه چیست؟
        </p>
دانشگاه یک موس سه آموزشی بزرگ است که تمامی مقاطع کارشناسی، ارشدودکتری را پوش ش میدهد. به طور معمول مقاطع آموزشی سطح
کارشناسی دانشگاه ها به سطوح بالاتر یعنی ارشدودکتری منتهی میشود. دانشگاه ها عموما دارای مدارسودانشکده های جداگانه پزشکیوحقوق
   برای آن دسته از دانشجویانی هستند که قصد تحصیل در دوره های تخص صیوفوق تخص صی را دارند.
  برخی از دانشگاه ها این امکان را به دانشجویان میدهند تا تحت یک برنامه آموزشی خاص در زمان کمتری مدارک کارشناسیوارشد خود را کسب
   کن ند. عمدتا، دانشگاه ها به واسطه تعداد بسیار زیاد دانشجویان ثبت نامی، تنوع بیشتری از کلاسهاودوره های آموزشی را به نسبت کالجها تجربه
 میکن ندواز لحاظ اندازه نیز بسیار بزرگتر هستند.
     در برخی موارد توضيح تمایز این دو آنقدر که به نظر میآید ساده نیست، این بدین خاطر است که یک دانشگاه میتواند از چندین زیرمجموعه نظیر
دانشکده یا به اصطلاح scho olویا کالج تشکیل شود.
   برای مثال، کالج هاروارد کالج هنرهای آزاد مقطع کارشناسی دانشگاه هاروارد است، اما در عین حال دانشگاه هاروارد از ۱۰ مدرسهوکالج کارشناسیو
تخص صی نظیر بیزينس اسکول هاروارد، مدرسه حقوق هاروارد، مدیکال اسکول هارواردوغیره تشکیل شده است. در موردی مشابه، دانشگاه پردو
Purdue نیز از ۱۰ کالجومدرسه از جمله کالج مهندسیودانشکده دامپزشکی تشکيل شده است. این در حالی است که هر یک از کالجهای زیر
مجموعه دانشگاه مذکور، تحت نظارت دانشگاه مدارک کارشناسیوارشد را صادر می کن ند. در ادامه بد نیست به انواع دانشگاه ها در خارج نگاهی
بیاندازیم.
    </h3>
    <br><hr><br>
    <h3>
        <td colspan="3" > 
            <a href="#ta5" name="tex5"  ></a>
     </td>
        <p>دانشگاه دولتی و دانشگاه خصوصی  </p>
        به طور معمول بخشی از بودجه دانشگاه های دولتی در خارج توسط استان، ایالتویا دولت فدرال تامین میشود؛ هر یک از ایالتهاواستانها
دارای حداقل یک دانشگاه دولتی است. این نوع از دانشگاه ها همانطور که از اسمشان بر میآید شهریه کمتری را برای دانشجویان بومی به نسبت
دانشجویان بین المل لی قائل هستند اما این موضوع به منزله تحصیل رایگان در کشوری نظیر کانادا نیست.
دانشجویان بومی بخاطر پرداخت مالیات استانیوایالتی به نوعی از دانشگاه مذکور پشتیبانیوحمایت کردهاندوبدین خاطر مشمول پرداخت
هزینه کمی به دانشگاه هستند، اما این موضوع برای دانشجویان خارجی صدق نمیکند.
در این بین، دانشگاه های خصوصی از دولت بودجهای را دریافت نمیکن ندوعمدتا بودجه این دانشگاه ها از جانب شهریه دانشجویان، موقوفاتو
کمکهای خصوصی تامین میگرد د. بر همین اساس شهریه این نوع از دانشگاه ها در اغلب موارد از دانشگاه های دولتی بیشتر است، اما در عین حال،
برخي از آنها با ارائه کمک هزینهوبا بورسه تحصیلی به دانشجویان در برداخت هزینه ها کمک میکن ند
    </h3>
    <br><hr><br>
    <h3>
        <td colspan="3" > 
            <a href="#ta6" name="tex6"  ></a>
     </td>
        <p>دانشگاه های آموزشی وتحقیقاتی </p>
دانشگاهی، زمان دانشکده های زیرمجموعه صرف آموزشوتحقیق میشود. اما میزانونسبت بین این دو وظیفه، چیزی است که در در هر
  موسسات آموزشیودانشگاه های تحقیقاتی متفاوت است. بر همین اساس، دانشگاه های ی که بر پژوهشوتحقیقات تاکید دارند معمولا موس سات
    بزرگتری هستند)برای مثال، دانشگاه دولتی آریزونا چیزی در حدود ۶۸هزار دانشجو دارد(وتنوع بسیار بالای ی از دوره هاورشته های آموزشی را در
     مقاطع کارشناسی، ارشدودکتری ارائه میدهد.
      تمرکز بر مقوله تحقیقات بدین معنی است که بسیاری از دانشکده ها از تجهیزات مدرنوکتابخانه های عظیم در این امر برخوردار هستندوتوسط
      تعداد زیادی از پرسنلوکارکنان متخص ص دانشگاه اداره میشوند. اگرچه، شما م مکن است که دسترسی زیادی به این افراد فوق متخص ص نداشته
     باشید؛ در بسیاری از مواقع، کلاسهای کارشناسی توسط استادیارهای فارغ التحصیل به جای پروفسورهاواستادها اداره میشوندوبه طور معمول
   کلاسهای کارشناسی بسیار بزرگ بودهوبه گونهای است که صدها دانشجو در سالنهای سخنرانی بزرگ گرد هم میآیند. به همین خاطر، در این
   وضعیت ایجاد تعاملی موثر با مدرسان دوره بسیار سخت خواهد بود.
دانشگاه های آموزشی به جای انجام تحقیقات، تمرکز ویژهای بر مقوله انتقال علم دارند. اساتید دانشگاه به طور عمده با تمام ظرفیت م مکن تدریس
    میکن ند )به طور معمول ۴کلاس در هر ترم(ومتحمل فشار انتشار مطالبوتحقیقات هم چون مدرسان دانشگاه های تحقیقاتی نیستند.
         در اینگونه دانشگاه ها کماکان اساتید تحقیقات نیز انجام میدهند، اما فریضه اصلی آنها آموزش است. البته باید بگوی یم که تجهیزات این دسته از
  دانشگاه ها در قياس با دانشگاه های تحقیقاتی کمتر است، اما در عین حال فرصت بهره بردنوتعامل با اساتید برای دانشجویان بیشتر خواهد بود.
    </h3>
    <br><hr><br>
    <h3>
        <td colspan="3" > 
            <a href="#tap7" name="text7"  ></a>
     </td>
        <p>چگونه یک دانشگاه به این دسته بندیورتبه نائل میشود؟ </p>
        پیش از اینکه یک کالج بتواند به موقعیت یک دانشگاه دست پیدا کند، باید دارای شرایط زیر برای حداقل ۵سال باشد:
سازمان: این موس سه آموزشی باید دارای رشته های ارشدورشته های کاردانی باشد، به گونهای که این رشته ها از دوره های قابل ارائه کارشناسیوکل
موس سه کاملا جداومجزا باشد. همچنین این بخش باید دارای پرسنلی باشد که مسئولیت اصلی آنها اجراواداره رشته های ارشدوتخص صی است.
رشته تحصیلی: این موس سه باید دارای رشته های کارشناسی با موضوعات مختلف که به دریافت مدرک کارشناسی منتهی میشود باشدودارای
حداقل۳رشته تحصیلی یا تخص صی در مقاطع ارشدودکتری باشد.
منابع: این موس سه باید توانای ی پشتیبانی مالی تمامی رشته های ارشدوتخص صی خود را داشته باشدودارای امکاناتوتجهیزات لازم برای سطح
 کار موردنیاز در هردو مقوله مذکور باشد.
اعتبارسنجی: این موس سه باید توسط ایالتویا استان دارای مجوز قانونی باشدوبه رسمیت شناخته شود.این موضوع با ارزیابی اعتبار آموزشیویا
همان ECA متفاوت بودهوتنها به خود موس سه آموزشی وابسته است
    </h3>
    <br>
    <h2>ممنون با ما تااینجا همراه بودید امید وارم بدردتون خورده باشه </h2>
</body>
</html>